<div class="contacts-container">
  <!-- Showing the list of contacts -->
  <h2>Contacts List</h2>
  <ul>
    <li *ngFor="let contact of contacts">
      <div>
          <div>
            Name: <span>{{contact.name}} </span>
          </div>
          <div>
            Last Name: <span>{{contact.lastName}}</span>
          </div>
          <div>
            Email: <span>{{contact.email}}</span>
          </div>
          <div>
            Category: <span>{{contact.category}}</span>
          </div>
          <div>
            Phone Number: <span>{{contact.phoneNumber}}</span>
          </div>
      </div>
      <div *ngIf="authService.isLogged()">
        <button routerLink="/edit/{{contact.id}}">Edit</button>
        <button (click)="deleteContact(contact.id)">Delete</button>
        <button routerLink="/contact/{{contact.id}}">Details</button>
      </div>
    </li>
  </ul>
</div>
